body {
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  color: cyan;
}

.btn-player {
  text-align: center;
}

.btn-player button,
#reset {
  border: 2px solid transparent;
  border-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #333;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
  transition: font-size 0.2s, transform 0.2s ease-in-out, border-color 0.3s ease-in-out;
  vertical-align: middle;
}

.btn-player button:hover,
#reset:hover {
  font-size: 34px;
  transform: scale(1.1) translateY(-5px);
  border-color: rgba(255, 255, 255, 0.7);
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  }
}

#reset {
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: red;
  background: black;
}

.scoreboard {
  text-align: center;
  margin-top: 20px;
}

.scoreboard span {
  display: inline-block;
  margin: 0 20px;
}

.percentageBoard {
  text-align: center;
  margin-top: 20px;
}

.percentageBoard p {
  margin: 10px;
}
